/* styles.css */
body {
  background-color: rebeccapurple;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(5, 100px);
}

button {
  margin-top: 30px;
  width: 200px;
  height: 100px;
}

#helper {
  font-size: 32px;
  color: white;
}

#player {
  position: absolute;
  pointer-events: none;
}

.goal-highlight {
  outline: 4px solid gold;
  outline-offset: -4px;
}
